.search--bar {
  width: 100%;
  display: flex;
  border-radius: 60px;
  overflow: hidden;
  height: 60px;

  .search--input {
    border: none;
    padding-left: 20px;
    flex: 8;
    outline: none;
  }

  .search--button {
    flex: 2;
  }
}

.search-error {
  background-color: rgb(255, 188, 149);
  color: rgb(243, 53, 53);
  padding: 20px;
  margin-top: 10px;
  border-radius: 20px;
  position: absolute;
}
