@import '~bootstrap/scss/bootstrap.scss';
.hero {
  padding-top: 80px;
  height: calc(100vh);
  background-color: rgb(33, 86, 146);
  display: flex;
  justify-content: center;
  align-items: center;

  &--content {
    width: 40%;

    @include media-breakpoint-down(sm) {
      width: 90%;
    }
  }

  .title {
    font-size: 48px;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;

    @include media-breakpoint-down(sm) {
      font-size: 35px;
    }
  }
}
